/* create-event.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('https://img.freepik.com/free-vector/white-gold-geometric-pattern-background-vector_53876-140726.jpg');
    background-size: cover;
    background-position: center;
}
#event-form{
    padding-left: 30vw;
    font-size: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(246, 244, 244, 0.975);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #454545;
}

select,
input[type="text"],
input[type="date"],
input[type="time"],
input[type="file"]
textarea {
    width: 50%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #434343;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #007bff;
    color: #444343;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: choose-file;
}

.file-input-label {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #434141;
    border: choose-file;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-input-label:hover {
    background-color: #0056b3;
}

.selected-file {
    font-weight: bold;
    margin-top: 10px;
    color: #474646;
}
