/* poster.css */

body {
    margin: 0;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_23-2149008629.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
}

.poster {
    position: absolute; 
    top: 0;
    left: 20%;
    height: 100%;
    display: flex;
    
}

.poster-image {
    width: 40%;
    border-radius: 10px 0 0 10px;
}

.poster {
    padding: 0px;
    font-family:  'Times New Roman', Times, serif;
  }
.container {
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */
}

.container {
    display: grid;
    justify-items: center; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */
}



h1 {
    font-size: 4rem;
    margin: 0 0 10px;
    color: #c4a3d8;
}

.poster-content p {
    text-align: left; /* Aligns text within <p> elements to the right */
    margin: 0 0 10px;
    color: #fffafa;
    font-size: 25px;
    line-height: 2;
}

.poster-content .poster-description p{
    text-align: justify;
    font-style: Times;
}

.poster-content .poster-eligibility {
    font-size: 25px;
    color: #f5f5f5;
}
.poster-content{
    width: 85%;
    padding-left: 50px;
}
.download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2b673f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
 